li#chrome-extension-emojis {
    padding: 3px;
    margin: 2px;
}

ul#chrome-extension-unlisted-items{
    position: absolute;
    width: 150px;
    background-color: antiquewhite;
    top: 35px;
    z-index: 90;
    margin: 5px;
    padding: 4px;
}
