li#chrome-extension-emojis {
    padding: 3px;
    margin: 2px;
    display: block;
    min-width: max-content;
}

li#chrome-extension-emojis:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

ul#chrome-extension-unlisted-items{
    position: fixed;
    width: 150px;
    background-color: antiquewhite;
    top: 35px;
    z-index: 90;
    margin: 5px;
    padding: 4px;
    min-width: max-content;
    border-radius: 10px 10px 15px 15px;
    color: black;
}